<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->

  <!--<variable name="VerboseLayout"
            value="${longdate} ${level:upperCase=true} ${message} (${callsite:includSourcePath=true})" />-->
  
  <variable name="fileLayout" 
            value="${longdate}|${level:upperCase=true}|${callsite}|${message}|${exception:format=tostring}" />

  <targets>
    <!-- add your targets here -->
    <target name="file" xsi:type="File" fileName="${basedir}/${date:format=yyyy-MM-dd}.log" layout="${message} ${exception:format=tostring,StackTrace}"/>
    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" layout="${message} ${exception:format=tostring}${newline}" />    
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>